* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.navbar {
    height: 70px;
    background-color: #1e293b;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 35px;

    margin: 0;
    padding: 0;
}

.menu a,
.auth-buttons a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover,
.auth-buttons a:hover {
    color: #facc15;
    text-decoration: underline;
}

.auth-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.register {
    background-color: #2563eb;
    padding: 10px 16px;
    border-radius: 8px;
}

.register:hover {
    background-color: #1d4ed8;
}
.products-section {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.products-section h1 {
    color: #1e293b;
    margin-bottom: 25px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    flex: 0 0 calc(25% - 20px);
    background-color: white;
    border-radius: 12px;
    padding: 18px;
    min-height: 320px;

    display: flex;
    flex-direction: column;

    box-shadow: 0 3px 10px rgba(0,0,0,0.12);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.22);
}

.product-image {
    height: 130px;
    background-color: #dbeafe;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #1e3a8a;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.price {
    color: #dc2626;
    font-weight: bold;
}

.product-card button {
    margin-top: auto;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #1d4ed8;
}
